<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/louiechannel/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="antonmirko.ukr@gmail.com" />
            <add key="ClearTextPassword" value="202ff772bbf7f053c244dc9e6f061b1f6a6d408a" />
        </github>
    </packageSourceCredentials>
</configuration>